
	<img id="mainImage" src="static-data/fru.png" width="100%" height="450px" />
	<div id="frontContent">
		<strong>Looking for a place to get fresh, delicious fruit.<br>No Worries.<br>
		<p style="font-size: 2.6em;">We are here NOW.</p> 
		</strong><br>	
		<a href="#/main">Start Shopping</a>

	</div>
	<div id="listing">
		<b>Frushop gives you all kinds of fresh fruit, with an awesome interface to order online and get delivered at your doorstep in no-time.</b>
	</div>
	

	<div id="images">
		<span style="display: inline-block;"><img src="static-data/a.jpg" class="smImages"/><br><p>Frushop provides fruits<br> at discounted rates.</p></span>
		<span style="display: inline-block;"><img src="static-data/b.jpg" class="smImages"/><br><p>Anytime.<br>24*7.</p></span>
		<span style="display: inline-block;"><img src="static-data/c.jpg" class="smImages"/><br><p>Incredible fast and <br>reliable service.</p></span>
		<span style="display: inline-block;"><img src="static-data/d.jpg" class="smImages"/><br><p>Experiences taste like<br> never before.</p></span>
	</div>
	<footer>
		<div id="botContent">
		Visit us again! <br> Thanks.
		</div>

	</footer>