input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    max-width: 20px;
}
 
input[type="number"] {
    -moz-appearance: textfield;
    max-width: 20px;
}


td{
	padding: 10px;
	width: 500px;
}